doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/common/css/bootstrap.min.css')
    // Optional Bootstrap theme
    link(rel='stylesheet', href='/common/css/bootstrap-theme.min.css')
    style.
      label.error {color:#FF0000 !important; font-size:13px !important; padding:0px !important; font-weight: normal !important;}
      small {margin-left: 10px;}
    block style
       
  body
    block content
