extends layout
block style
  style.
    label.error {color:#FF0000 !important; font-size:13px !important; padding:0px !important; font-weight: normal !important;}
    small {margin-left: 10px;}
block content
  .container
    .page-header
      h1
        | Step1
        small BuilderEdge Webform registration
    .row
      .col-md-8
        .panel.panel-default
          .panel-body
            if appVersion
              form(name='userInfoForm', action='/'+appVersion+'/authorizeUser', method='GET')
                .form-group
                  label(for='inputEmail') Click on the Register Me button to register yourself for BuilderEdge.
                  input#orgId.form-control(type='hidden', name='isSandBoxUser' value=isSandBoxUser)
                button.btn.btn-primary(type='submit') Register Me
            else
              form(name='userInfoForm', action='/authorizeUser', method='GET')
                .form-group
                  label(for='inputEmail') Click on the Register Me button to register yourself for BuilderEdge.
                  input#orgId.form-control(type='hidden', name='isSandBoxUser' value=isSandBoxUser)
                button.btn.btn-primary(type='submit') Register Me
  //- script(src='/common/js/jquery-3.1.0.min.js')
  script(src='http://code.jquery.com/jquery-3.3.1.min.js')
  //- script(src='/common/js/bootstrap.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  
  //- script(src='/common/js/jquery.validate.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')